<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-blue-100 to-gray-100 min-h-screen">

  <!-- Top Navigation Bar -->
  <header class="bg-white shadow-md py-4">
    <div class="max-w-9xl    flex items-center px-4 md:px-8">

      <!-- Left Section: Logo and Application Title -->
      <div class="flex items-center space-x-3">
        <img src="https://hiringsolutions.blob.core.windows.net/company/143a0a45-8206-46a0-b9ea-94f4413fe8a2/longLogo.png" alt="App Logo" class="w-36 h-auto">

      </div>

      <!-- Center Section: User Role -->
      <div class="flex-1 text-center">
        {% if request.user.is_staff %}
          <span class="text-gray-900 font-large">Configurator</span>
        {% else %}
          <span class="text-gray-900 font-large">Content Developer</span>
        {% endif %}
      </div>

      <!-- Right Section: User's Name and Logout Button -->
      <div class="flex items-center space-x-6 ml-auto">
        <span class="text-gray-700 font-medium">{{ request.user.username }}</span>
        <a href="{% url 'logout' %}" class="text-blue-600 font-medium hover:text-blue-800 transition-colors flex items-center">
          <i class="fas fa-sign-out-alt mr-1"></i> Logout
        </a>
      </div>
    </div>
  </header>

  <!-- Dashboard Content -->
  <div class="max-w-screen-xl	 mx-auto py-6">
    {% block content %}

    {% endblock %}
  </div>

</body>
</html>